<div class="wrapper">

  <div class="author_row">
          <img src="/assets/card/Avatar.png">
          <span class="name">Anna Dormund</span>
  </div>
  <img src="/assets/card/Bg.png">
  <div class="topic">Карточки - Меморайзер</div>
  <h2>Present simple vol.1 for beginners</h2>
  <h3>Время настоящее для нач..</h3>
  <div class="data">
      <span>2 days ago</span>
      -
      <span class="icon star"><span>8.3</span></span>
      -
      <span class="icon view"><span>12k</span></span>
  </div>
</div>
