<div class="wrapper">

  <div class="author_row">
          <img src="{{avatar}}">
          <span class="name">{{data.author.name}} {{data.author.surname}}</span>
  </div>
  <img src="{{picture}}">
  <div class="topic">{{data.category}}</div>
  <h2>{{data.title[data.primaryLang]}}</h2>
  <h3>{{data.title[data.secondaryLang] | slice:0:25}}...</h3>
  <div class="data">
      <span>{{dateTime}}</span>
      -
      <span class="icon star"><span>{{data.stars}}</span></span>
      -
      <span class="icon view"><span>{{data.views}}</span></span>
  </div>
</div>
