<div class="wrapper">
<div class="title">
<div class="author">
    <img src="/assets/card/Avatar.png">
    <div class="texts">
        <div class="name">Anna Dormund</div>
        <div class="spacer"></div>
        <div class="time">14:55 pm</div>
    </div>
</div>

</div>
<div class="introAndButtons"></div>
<div class="content">Решили выучить английский язык? Безусловно, вы сделали правильный выбор, ведь английский язык - главный язык международного общения. Ежедневно поддерживай форму! Используй словарный тренажёр всего. Ежедневно поддерживай форму! Используй словарный тренажёр всего...
                      </div>
</div>
