@import "../app.fonts";
.wrapper{
  padding-bottom: 18px;
  border-bottom: $lightGreyBorder;
}
.content {
  @include regular-font;
  line-height: 22px;
  display: flex;
  align-items: center;
}
.title {
  display: flex;
  .spacer{
    flex: 2 0 auto;
  }
  img{
    align-self: center;
  }
  img:last-child {
    margin-left: 30px;
    margin-right: 10px;
  }
}
.author {
  display: flex;

  .texts {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: 40px;
    align-content: space-between;
    .name {
      margin-top: 2px;
      @include regular-font;
      color: $fontNamesColor;
    }
    .time{
      @include light-font;
      margin-top: 4px;
    }

  }
}

.introAndButtons{
  display: flex;
  img.pfaa{
    margin: 20px 20px 20px 0px;
  }
  .titles {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 610px;
    .topic {
      margin-top: 39px;
      font-family: $fontFamily;
      //TODO move to app.fonts
      font-size: 18px;
      line-height: 100%;
      color: $fontNamesColor;
    }

    h2 {
      @include h2
    }

    h3 {
      @include h3
    }

    .level {
      @include sub-regular-font;
      line-height: 200%;
    }

    .spacer {
      flex: 2 2 auto;
    }

    .buttons {
      align-self: center;
      span {
        @include regular-font;
        color: $fontNavColor;
        padding-bottom: 12px;
        border-bottom: $fontNavColor 2px solid;
        margin-right: 24px;
        padding-left: 12px;
        padding-right: 12px;

      }
      button{
        @include mint-button
      }
    }
  }
}
