<div class="wrapper">
<div class="title">
    <div class="author">
        <img src="/assets/card/Avatar.png">
        <div class="texts">
            <div class="name">Anna Dormund</div>
            <div class="time">14:55 pm</div>
        </div>
    </div>
    <div class="spacer"></div>

    <img src="/assets/card/content-flag.png">
    <img src="/assets/card/dots3.png">

</div>
<div class="introAndButtons">
    <img class="pfaa" src="/assets/card/Bg.png">
    <div class="titles">
        <div class="topic">Урок</div>
        <h2>Фрукты и овощи</h2>
        <h3>Fruits and vegetables</h3>
        <div class="level">Средний уровень</div>
        <div class="spacer"></div>
        <div class="buttons"><span>Об уроке</span><span>Содержание</span><span>Упражнения</span><button>Начать урок</button></div>

    </div>
</div>
<div class="content">Решили выучить английский язык? Безусловно, вы сделали правильный выбор, ведь английский язык - главный язык международного общения. Ежедневно поддерживай форму! Используй словарный тренажёр всего. Ежедневно поддерживай форму! Используй словарный тренажёр всего...
                      </div>
</div>
