<div class="wrapper">
    <div class="title">
        <div class="author">
            <img src="{{avatar}}">
            <div class="texts">
                <div class="name">{{data.author.name}} {{data.author.surname}}</div>
                <div class="time">{{dateTime}}</div>
            </div>
        </div>
        <div class="spacer"></div>

        <img src="/assets/card/content-flag.png">
        <img src="/assets/card/dots3.png">

    </div>

    <div class="introAndButtons">
        <img class="pfaa" src="{{picture}}">
        <div class="titles">
            <div class="topic" translate>Lesson</div>
            <h2>{{data.title[data.primaryLang]}}</h2>
            <h3>{{data.title[data.secondaryLang]}}</h3>
            <div class="level">{{data.level | translate}}</div>
            <div class="spacer"></div>
            <div class="buttons"><span translate>about</span><span translate>contents</span><span translate>tests</span><button translate>start-lesson</button></div>

        </div>
    </div>
    <div class="content">{{data.description}}</div>
</div>
