$header_height:68px;
$content-width: 830px;
$max-width: 1425px;
$leftSidebarWidth: 264px;
$leftSidebarHideThreshold: $content-width + $leftSidebarWidth;
$rightSidebarHideThreshold: $content-width + $leftSidebarWidth;

$seaBlueColor:#0C6495;
$skyBlueColor:#41A1D9;
$mintGreen: #87D37C;

$prettyBLackColor:#1E252B;

$lightGreyBorder:#eeeeee 1px solid;
