<div class="wrapper">
  <header class="header"><app-toolbar-menu></app-toolbar-menu></header>
  <section class="content">
    <div class="columns">
      <main class="main">
        {{'Title of' | translate}} {{ title }}!
        <app-lesson-panel></app-lesson-panel>
        <app-lessons></app-lessons>
      </main>

      <nav class="sidebar-first">
        <div class="nav-panel"></div>
      </nav>
      <aside class="sidebar-second">Sidebar second: Fixed width</aside>
    </div>
  </section>
  <footer class="footer"></footer>
</div>
