<div class="wrapper">

    <div class="content">
        <img src="/assets/card/Avatar.png">
        <div class="texts">
            <div class="name">Anna Dormund</div>
            <div class="text">
            Отличный урок спасибо! Отличный урок спасибо! Отличный урок спасибо! Отличный урок спасибо! Отличный урок спасибо! Отличный урок спасибо!
            Отличный урок спасибо! Отличный урок спасибо! Отличный урок спасибо! Отличный урок спасибо! Отличный урок спасибо! Отличный урок спасибо!

             </div>
            <div class="time">14:55 pm</div>
        </div>
    </div>
</div>
